.logo {
    padding: 1rem;
}

.menu-link {
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.site-description {
    padding: 1rem;
}

.mail-social-icon{
    padding: 5px;
    width: 47px;
    height: 47px;
}

.social-icon {
    padding: 5px;
    width: 50px;
    height: 50px;
}

.post-featured-photo {

}

.featured-photo-description {

}

.recent-posts-widget {

}

.recent-posts-card {

}

.post-date {

}

.post-thumbnail {

}